<!DOCTYPE html>
<html>
	<head>
		<title>Тестовое задание</title>
		<meta charset="utf-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav>
			<a href="/">Случайная цитата</a>
			<a href="/form">Редактировать</a>
			<a href="/dashboard">Статистика</a>
		</nav>
		<table>
			<thead>
				<tr>
					<th>Место</th>
					<th>Цитата</th>
					<th>Источник</th>
					<th>Лайки</th>
				</tr>
			</thead>
				{% for quote in quotes %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ quote.name }}</td>
						<td>{{ quote.source }}</td>
						<td>{{ quote.likes }}</td>
					</tr>
				{% endfor %}
			<tbody>
			</tbody>
		</table>
	</body>
</html>